---
import InfoCard from "../components/InfoCard.astro";

const mission = {
    title: "Mission",
    description:
        "Create a community that integrates students, teachers, alumni, companies, institutions and society in general to promote the development of robotics in Mexico.",
    image: "/images/mission.jpeg",
};

const vision = {
    title: "Vision",
    description:
        "Inspire future generations of the robotics community in Latin America",
    image: "/images/vision.jpeg",
};
---

<script>
    const card1 = document.getElementById("card1");
    const card2 = document.getElementById("card2");
    window.addEventListener("scroll", () => {
        const value = window.scrollY;
        if (card1) card1.style.left = value * 1.1 + "px";

        if (card2) card2.style.right = value * 1.1 + "px";
    });
</script>

<main>
    <div class="z-50 h-max p-8 scroll-pb-96 bg-black">
        <div class="h-96"></div>
        <div class="h-96"></div>
        <div class="flex justify-between relative">
            <InfoCard
                title={mission.title}
                info={mission.description}
                image={mission.image}
                id="card1"
            />
            <InfoCard
                title={vision.title}
                info={vision.description}
                image={vision.image}
                id="card2"
            />
        </div>
        <div class="h-96"></div>
        <div class="h-96"></div>
    </div>
</main>
